// COLORS
// $primary-color: #fd746c;
// $secondary-color: #ff9068;

// $primary-color: #7b4397;
// $secondary-color: #dc2430;

// $primary-color: #e53935;
// $secondary-color:#e35d5b;

// $primary-color: #085078;
// $secondary-color:#85D8CE;

// $primary-color: #642b73;
// $secondary-color: #c6426e;

// $primary-color: #136a8a;
// $secondary-color: #267871;

// $primary-color: #fe8c00;
// $secondary-color: #f83600;

// $primary-color: #00c6ff;
// $secondary-color: #0072ff;

// $primary-color: #eb3349;
// $secondary-color: #f45c42;

// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #026ab0;
$secondary-color: #f0fd0c;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
